from gvtest.testsuite import *
import re
import os

def add_test(testset, name, flags="", cycle_ref=0, cycle_error_ref=0):
    target = testset.get_target().get_name()
    cwd = testset.get_path()
    test = testset.new_make_test(name, path=f'{cwd}/XpulpNN/32bit/test', flags=f'{flags} build_dir_ext={name}')

    # test.add_command(Shell('run', f'gvrun --target {gvsoc_target} --work-dir {work_dir}/{target} --param chip/soc/binary={cwd}/{binary} run'))
    # if cycle_ref != 0:
    #     test.add_command(Checker('run', check_output, cycle_ref, cycle_error_ref))
    return test

def check_output(test, output, cycle_ref, cycle_error_ref):
    log = ''

    match = re.search(r"The execution took (\d+) cycles\.", output)

    if not match:
        return (false, "Cycle count not found in log string\n")

    cycle_count = int(match.group(1))
    cycle_diff = abs(cycle_count - cycle_ref)
    cycle_error = cycle_diff / cycle_count * 100

    log += f'Found {cycle_count} cycles vs ref {cycle_ref}, error {cycle_error}% vs {cycle_error_ref}%\n'

    if cycle_error > cycle_error_ref:
        return(False, f'Too high error rate: {cycle_error} vs {cycle_error_ref} expected\n')

    return (True, log)

def tests_build(testset):

    skipped_tests = [
    ]

    # Do not work for nb_cores 1, 2, or 4
    for nb_cores in [8]:
        for in_w in [2, 4, 8]:
            for out_w in [2, 4, 8]:
                for wt_data_t in [2, 4, 8]:
                    kernel = f"{in_w}{out_w}{wt_data_t}"
                    for in_signed in [0, 1]:
                        for out_signed in [0, 1]:
                            signed = f"{in_signed}{out_signed}"

                            test_name = f"k{kernel}_s{signed}_c{nb_cores}"

                            test = add_test(testset, test_name, flags=f"cores={nb_cores} kernel={kernel} signed={signed}")

                            if test_name in skipped_tests:
                                test.skip('Failing')


def testset_build(testset):

    testset.set_name('pulp-nn')

    testset.add_testset(callback=tests_build)
